.landing {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;

  
  &__p {
    margin: auto;

    &--1 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 5rem;
    }

    &--2 {
      width: 30%;
    }
  }
}