@import './assets/styles/variables';

// Components styling
@import './pages/homepage/homepage';
@import './components/navbar/navbar';
@import './pages/signup/sign-up';
@import './pages/login/login';
@import './pages/dashboard/dashboard';
@import './components/dashboard-menu/dashboard-menu';
@import './components/dashboard-announcements/dashboard-announcements';
@import './components/CreateClass/CreateClass';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}
