.dashboard-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.dashboard__main {
  background-color: rgba(195, 208, 252, 0.534);
  width: 100%;
  height: 100vh;
}

.miniheader__title {
  margin: 3rem;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.miniheader {
  display: flex;
  justify-content: space-between;
}

.fa-bell,
.fa-comments {
  font-size: 2.5rem;
  margin-right: 2rem;

  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

.currentuser-header-info > .fa-user-circle {
  padding-left: 2.5rem;
  position: relative;
}

.currentuser-header-info > .fa-user-circle::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0.1rem;
  height: 100%;
  background-color: $color-greyborders;
}

.currentuser-header {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.currentuser-header-info {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
    h2 {
      color: $color-primary;
    }

    .fa-caret-down {
      color: $color-primary;
    }
  }

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  bottom: -8.5rem;
  left: 0;
  background-color: #f9f9f9;
  min-width: 21rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  & .a {
    color: black;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      background-color: $color-primary;
    }
  }
}

.fa-caret-down {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.announcements {
  padding: 3rem;
  margin: 3rem;
  background-color: white;
  width: 50%;
  height: 80%;
  border: 1px solid $color-greyborders;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -3rem;
      left: -3rem;
      width: 108%;
      height: 1px;
      background-color: $color-greyborders;
    }

    &-title {
      font-size: 2rem;
    }
  }

  &-add {
    border: 1px solid rgba(195, 208, 252, 0.534);
    border-radius: 3px;
    padding: 0.8rem;
    background-color: rgba(195, 208, 252, 0.534);
    font-weight: bold;
    color: $color-primary;
    cursor: pointer;

    &:hover {
      color: $color-primary-dark;
    }

    &:focus {
      outline: none;
    }
  }

  &__form {
    position: absolute;
    right: 20rem;
    top: 15rem;
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  &__input {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid silver;
    outline: none;
    display: block;

    &:focus {
      border-bottom: 2px solid $color-primary;
    }
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
  }

  &__submit {
    padding: 1rem 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: $color-primary;
    margin-top: 2rem;

    &:hover {
      background-color: darken($color: $color-primary-dark, $amount: 0);
    }

    &:focus {
      outline: none;
    }
  }
}

.fa-plus {
  margin: 0 0.5rem;
}

.header-classname {
  margin: -1rem 0;
  margin-left: 3.5rem;
  color: $color-primary-dark;
}

.error {
  color: red;
  font-size: 1.5rem;
  background: #fce4e4;
  margin-top: 3rem;
  padding: 2rem 3rem;
  border: 1px solid #fcc2c3;
}