.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 15px 40px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 550;

    .option {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        border-bottom: solid #2871ff;
      }
    }

    .signin {
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #2871ff;
      border-radius: 50px;
      color: #2871ff;
      margin: 0 15px;

      &:hover {
        background-color: #2871ff;
        color: white;
      }
    }

    .signup {
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid #2871ff;
      border-radius: 50px;
      margin: 0 15px;
      color: white;
      background-color: #2871ff;

      &:hover {
        background-color: darken($color: #004adf, $amount: 0);
      }
    }

  }
}