.sidemenu__logo {
  padding: 3rem;
  padding-left: 2rem;
  font-size: 2rem;
  width: 100%;
}

.currentuser {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2rem;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 0.1rem;
    width: 22.2rem;
    background-color: $color-greyborders;
  }
  
  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 0.1rem;
    width: 22.2rem;
    background-color: $color-greyborders;
  }
}

.currentuser__details h3 {
  color: rgb(133, 133, 133);
  margin-top: 0.5rem;
}

.fa-user-circle {
  font-size: 3rem;
  margin-right: 1rem;
  color: $color-black-light;
}

.class-activity {
  padding: 2rem;
}

.class-activity-title {
  color: rgb(133, 133, 133);
}

.sidemenu {
  width: 25rem;

  &__homepage, &__catalogue, &__schedule {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    &--h3 {
      margin-left: 1.5rem;
      color: $color-black-light;
      font-size: 1.4rem;
    }

    &--title {
      margin-left: 1.9rem;
      color: $color-black-light;
      font-size: 1.4rem;
    }
  }
}

.fa-clipboard, .fa-border-all, .fa-calendar-alt {
  font-size: 2.5rem;
}
