.announcement {
  &-container {
    margin: 3rem 0;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -2rem;
      left: -3rem;
      width: 108%;
      height: 1px;
      background-color: $color-greyborders;
    }

    &:first-child {
      margin-top: 5rem;
    }
  }

  &-title {
    margin: 1rem 0;
    font-size: 1.6rem;
  }

  &-description {
    margin: 1rem 0;
    font-size: 1.4rem;
  }

  &-date {
    margin-top: 1.5rem;
  }
}
