.navbar {
  height: 7rem;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  margin-bottom: 2.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  .logo-container {
    height: 100%;
    width: 100%;
    padding: 0.7rem 2rem;
    margin: 0 auto;
  }

  .options {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-weight: 550;
    white-space: nowrap;

    .option {
      padding: 1rem 1.5rem;
      cursor: pointer;
      transition: all 0.1s;

      &:hover {
        border-bottom: solid $color-primary;
      }
    }

    .signin {
      padding: 1rem 1.5rem;
      cursor: pointer;
      border: 1px solid $color-primary;
      border-radius: 5rem;
      color: $color-primary;
      margin: 0 1.5rem;

      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }

    .signup {
      padding: 1rem 1.5rem;
      cursor: pointer;
      border: 1px solid $color-primary;
      border-radius: 5rem;
      margin: 0 1.5rem;
      color: white;
      background-color: $color-primary;

      &:hover {
        background-color: darken($color: $color-primary-dark, $amount: 0);
      }
    }
  }
}

.logout {
  padding: 1rem 1.5rem;
  cursor: pointer;
  border: 1px solid $color-primary;
  border-radius: 5rem;
  margin: 0 1.5rem;
  color: white;
  background-color: $color-primary;
  &:hover {
    background-color: darken($color: $color-primary-dark, $amount: 0);
  }
}
