$color-primary: #2871ff;
$color-primary-dark: #004adf;

.navbar {
  height: 70px;
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;


  margin-bottom: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

  .logo-container {
    height: 100%;
    width: 30%;
    padding: 15px 40px;
    margin: 0 auto;
  }

  .options {
    // width: 50%;
    // height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: 550;

    .option {
      padding: 10px 15px;
      cursor: pointer;
      transition: all .1s;

      &:hover {
        border-bottom: solid $color-primary;
      }
    }

    .signin {
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid $color-primary;
      border-radius: 50px;
      color: $color-primary;
      margin: 0 15px;

      &:hover {
        background-color: $color-primary;
        color: white;
      }
    }

    .signup {
      padding: 10px 15px;
      cursor: pointer;
      border: 1px solid $color-primary;
      border-radius: 50px;
      margin: 0 15px;
      color: white;
      background-color: $color-primary;

      &:hover {
        background-color: darken($color: $color-primary-dark, $amount: 0);
      }
    }

  }
}