.student {
  &-container {
    margin: 4rem 0.5rem;
    position: relative;
    display: flex;

    &::after {
      position: absolute;
      content: '';
      bottom: -2rem;
      left: -3.5rem;
      width: 105%;
      height: 1px;
      background-color: $color-greyborders;
    }

    &:first-child {
      margin-top: 5rem;
    }
  }

  &-grades {
    position: absolute;
    left: 42rem;
  }

  &-absente {
    position: absolute;
    left: 88rem;
  }
}